---
import NextJSIcon from "@components/icons/NextJS.astro";
import TailwindCSSIcon from "@components/icons/TailwindCSS.astro";
interface Project {
  title: string;
  description: string;
  link: string;
  github: string;
  image: string;
  tags: TAG[];
}

interface TAG {
  name: string;
  class: string;
  icon: any;
}

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJSIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindCSSIcon,
  },
};

const PROJECTS: Project[] = [
  {
    title: "SVGL - A beautiful library with icons SVG logos",
    description: "Created from scratch with SveltetKit and Tailwind CSS. It's a library with SVG logos from most popular brands.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/svgl.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND]
  }
];
---

{
  PROJECTS.map(({ title, description, tags, image }: Project) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag: TAG) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
              <tag.icon class="size-4"/>
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${title}`}
      />
    </article>
  ))
}
